extends page.jade

block append defs
    include /_util/embed.jade

block append head
    +import_embed_scripts

block breadcrumbs_optional_panel
    if data.pdf_url != null
        a.pull-right(href=data.pdf_url)
            +icon("download")
            | &nbsp;
            | Download PDF

block content
    +embed_article(data.html_url)

