.breadcrumb {
    margin-top: 20px;
}

iframe.embedded-frame {
    overflow: hidden;
    height: 100%;
}

div.index-elem {
    padding: 20px;
    cursor: pointer;
    height: 400px;
}

div.index-elem:hover {
    padding: 20px;
    cursor: pointer;
    background-color: lavender;
}

